h1 {
  margin: 0;
}

.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-return {
    color: black;
    opacity: 0.5;
    left: 5%;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      color: black;
      opacity: 1;
    }
  }
}

.intro-panel {
  width: 100%;
  height: 90vh;
  background-color: #f9f9f9;
  color: black;
  padding: 0 5% 10% 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__header {
    font-family: "Playfair Display", serif;
    font-size: 150px;
    font-weight: 900;
    line-height: 160px;
    margin-bottom: 25px;
  }
  &__description {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 300;
  }
}

.showcase {
  width: 100%;
  height: 100%;
  padding: 2.5%;
  box-sizing: border-box;
  display: flex;
  &-project {
    width: 100%;
    height: 100%;
    &__overlay {
      text-decoration: none;
      width: 50%;
      height: 50vh;
      &-hover {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        color: white;
        padding: 5%;
        width: 100%;
        height: 100%;
        background-color: rgba(250, 250, 250, 0.25);
        transition: 0.3s;
        &:hover {
          background-color: rgba(250, 250, 250, 0);
          transition: 0.3s;
        }
      }
    }
    &__thumbnail {
      width: 100%;
      height: 65%;
      background-size: cover;
    }
    &__description {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      &-header {
        font-family: "Playfair Display", serif;
        font-size: 40px;
        font-weight: 900;
      }
      &-date,
      &-text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 15px;
      }
      &-text {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .intro-panel {
    &__header {
      font-size: 125px;
    }
  }
}
@media only screen and (max-width: 750px) {
  .intro-panel {
    &__header {
      font-size: 100px;
      line-height: 100px;
    }
    &__description {
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .intro-panel {
    padding: 0 7.5% 33% 7.5%;
    &__header {
      font-size: 65px;
      line-height: 65px;
    }
    &__description {
      font-size: 14px;
    }
  }
  .showcase {
    flex-direction: column;
    padding: 0;
    &-project {
      &__overlay {
        width: 100%;
        height: 33vh;
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  .intro-panel {
    &__header {
      font-size: 40px;
      line-height: 45px;
    }
  }
  .showcase-project__description {
    &-header {
      font-size: 25px;
    }
  }
}