body {
  margin: auto 0;
}
.loading {
  animation: fadeIn 2s;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  &-header {
    font-family: 'Roboto Condensed';
    font-size: 80px;
    font-weight: 900;
    color: #ffae68;
  }
}
.nav {
  &-links {
    margin-right: 10%;
    text-decoration: none;
    color: white;
    font-size: 22px;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: grey;
    }
    &__active {
      // background: -webkit-gradient(
      //   linear,
      //   left top,
      //   left bottom,
      //   color-stop(50%, rgba(255, 255, 255, 0)),
      //   color-stop(50%, #ffdb80)
      // );
      // background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 50%, #ffe29a 50%);
      // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffe29a 50%);
      color: #333;
    }
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column;
  flex-direction: column;
  &-left {
    animation: fadeIn 2.5s;
    width: 100%;
    height: 100%;
  }
  &-right {
    height: 100vh;
    width: 75%;
    &__background-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      background-position: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &__image {
      &-wrapper {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      width: 65%;
      height: 50%;
      background-size: cover;
      background-position: center;
      background-image: url("../assets/me\(1\).png");
    }
  }
}

.home {
  &-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: white;
    &-overlay {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: white;
    }
  }
  &-verse {
    &__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 90%;
    }
    &__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      width: 90%;
    }
  }
}

.active-link {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, rgba(255, 255, 255, 0)),
    color-stop(50%, #ffe29a)
  );
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 50%, #ffe29a 50%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffe29a 50%);
}

.coming-soon {
  width: 100%;
  height: 100vh;
  color: black;
  font-family: "Roboto";
  font-weight: "300";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../assets/group.png");
  background-size: cover;
  background-position: center;
}

.to-blog {
  min-width: 50%;
}

.blog {
  &-card {
    &__image {
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__inner {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0 0 10% 10%;
      box-sizing: border-box;
      color: white;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
    &__title {
      margin: 0;
      font-family: "Playfair Display", "Noto Serif SC";
      font-weight: 800;
      font-size: 35px;
    }
    &__date {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      margin: 0;
    }
    &__description {
      width: 70%;
      font-weight: 300;
    }
    &__button {
      margin-top: 25px;
      width: 180px;
      height: 60px;
      background: transparent;
      color: white;
      border: 0.5px solid white;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.inner {
  &-item {
    margin-bottom: 10px;
  }
}

.recent-blog__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  @media only screen and (max-width: 850px) {
    background-position: center;
  }
}

@media only screen and (max-width: 800px) {
  .blog-card {
    &__inner {
      padding: 0 5% 15% 5%
    }
  }
  .nav {
    width: 100%;
    background-color: white;
    &-links {
      margin-right: 20px;
    }
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    &-right {
      &__background-image {
        background-size: contain;
      }
      width: 100%;
      height: 50vh;
      &__image-wrapper {
        display: none;
      }
    }
  }
  .home {
    &-header-container {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 450px) {
  .blog {
    &-card {
      &__description {
        width: 90%;
      }
    }
  }
  .nav {
    &-container__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      margin-left: 0;
      width: 100%;
    }
    &-links {
      margin-right: 0px;
      font-size: 20px;
    }
    &-container {
      height: 50px;
    }
  }
  .wrapper {
    &-right {
      height: 33vh;
      &__background-image {
        background-size: contain;
      }
    }
  }
  .home {
    &-tag {
      font-size: 18px;
    }
    &-header {
      font-size: 50px;
    }
    &-description {
      font-size: 18px;
    }
    &-verse__content {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .nav {
    &-links {
      font-size: 12px;
    }
  }
  .wrapper {
    &-right {
      height: 45vh;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-link {
  width: fit-content;
}